# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
*.iml

# Android build outputs
*.apk
*.aar
*.dex
*.class
*.jar
*.so

# iOS
ios/Pods/
ios/.symlinks/

# Others
*.log

# Ignore build artifacts
food_link_app/build/
food_link_app/.dart_tool/
